@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background: url('../Imgs/teste2.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  background-position-y: -100px;
}

form {
  margin-top: 30px;
  margin-bottom: 40px;
}

input[type='submit'] {
  text-align: center;
  text-transform: uppercase;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #08558b;
  font-weight: bold;
}

input[type='submit']:hover {
  background-color: #1b223c;
  transition: 0.5s;
}

.wrapper {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.wrapper .title h1 {
  color: #c5ecfd;
  text-align: center;
  margin-bottom: 25px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input {
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c5ecfd;
}

@media (max-width: 800px) {
  body {
    background-color: rgb(158, 158, 90);
  }
  input[type='submit']:hover {
    background-color: #baeb4a;
    transition: 0.5s;
  }
}

@media screen and (max-width: 600px) {
  .contact-form {
    flex-direction: column;
  }
  .input-fields {
    width: 100%;
  }
}

